@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Navigation Bar */

#home {
    background-color:  darkblue;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 5mm;
   }

section {
  width: 100%;
}
  
  .topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
  }
  
  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
  .profile_name {
      color: lightgray;
      font-size: 30px;
      float: left;
      padding-left: 2cm;
  }
  
  .profile_name .contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;
  }
  
  /* Titles */
  
  h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #004ebc;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .introduction {
    text-align: justify;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
  }
  
  /* Used in the About Me sections */
  
  .container {
    display: flex;
    width: 100%; 
  }
  
  /* About Me */
  
  .about-me {
    display: flex;
    align-items: center;
  }
  
  #about-me h1 {
    font-size: 65px;
    margin-top: 90px;
    color: darkblue;
  }
  
  #about-me p {
    font-size: 25px;
    color: rgb(85, 94, 197);
    margin-top: -1cm;
    text-align: center;
  }
  
  .profile_image {
    width: 550px;
    height: fit-content;
    vertical-align: middle;
    horizontal-align: middle;
    margin: 5px;
  }
  
  

/* establish map color and line color */
path {
    stroke: white;
    stroke-width: 1px;
    fill:paleturquoise;

    transition: fill .4s ease;
}

/* establish map hover characteristics*/
path:hover {
    fill: orange !important;
}

/* establish starting size of map */
/*
#euro-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/* changes location of state name from top left of map to box under cursor */
#details-box {
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

/* fading countries ive never been */
#AL{
  fill: rgb(190, 138, 138);
} 

#AD{
    fill: rgb(190, 138, 138);
  } 

#AM{
    fill: rgb(190, 138, 138);
  } 

#BA{
    fill: rgb(190, 138, 138);
  } 

  #BG{
    fill: rgb(190, 138, 138);
  } 

#BY{
    fill: rgb(190, 138, 138);
  }

#GE {
    fill: rgb(190, 138, 138);
  }

#HR{
    fill: rgb(190, 138, 138);
  } 

  #IS{
    fill: rgb(190, 138, 138);
  } 

#LU {
    fill: rgb(190, 138, 138);
  }

#MD{
    fill: rgb(190, 138, 138);
}

#MK{
  fill: rgb(190, 138, 138);
}

#ME{
  fill: rgb(190, 138, 138);
}

#RS{
  fill: rgb(190, 138, 138);
}

#SK{
  fill: rgb(190, 138, 138);
}

#SE{
  fill: rgb(190, 138, 138);
}

#UA{
  fill: rgb(190, 138, 138);
}

#XK{
  fill: rgb(190, 138, 138);
}

#CY{
  fill: rgb(190, 138, 138);
}

  /* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #7600bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}
